<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%cyan(%-26(%date{dd.MM.yyyy}-%X{akkaTimestamp})) ${HOSTNAME} %highlight(%-5level) | %green(%logger{0}) - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/crylio/crylio.log</file>
        <encoder>
            <pattern>%-26(%date{yyyy.MM.dd} %X{akkaTimestamp}) %-5level | %logger{0} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/crylio/crylio-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FileAppender"/>
    </root>

    <logger name="reactivemongo" level="WARN" />
    <logger name="akka://reactivemongo" level="WARN" />
</configuration>